*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #E53170;
    text-align: center;
    margin: 35px;
    font-size: 50px;
}

.first-p{
    font-size: 30px;
}

.change-color{
    color: #6495ED;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.col{
    float: left;
    width: calc(100% / 3);
    background-color: #0F0E17;
    margin: 2% 0 2% 0;
}

.clearfix{
    margin-top: 25px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.first-card{
    background-color: #0F0E17;
}

.columnImg{
    height: 130px;
    float: left;
}

.text{
    margin:16px;
    line-height: 30px;
    padding-left: 150px;
    color: white;
}
